<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://kit.fontawesome.com/51a7cc97b5.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="container flex justify-between align-center">
        <h1>Article Details</h1>
        <nav>
          <a class="links" href="/articles">Back to Articles</a>
        </nav>
      </div>
    </header>
    <section class="container">
      <div>
        <h2 class="title"><%= article.title %></h2>
        <p class="text"><%= article.description %></p>
        <p class="text"><%= article.author %></p>
        <p class="text"><%= article.likes %></p>
        <a href="/articles/<%= article.slug %>/likes">
          <button class="btn">likes</button>
        </a>
        <a href="/articles/<%= article.slug %>/edit">
          <button class="btn btn-edit">Edit</button>
        </a>
        <a href="/articles/<%= article.slug %>/delete">
          <button class="btn btn-edit btn-delete">Delete</button>
        </a>
      </div>
      
      <div>
        <form action="/articles/<%= article.slug %>/comments" method="POST">
          <textarea
            class="comments"
            name="content"
            id=""
            cols="40"
            rows="4"
            placeholder="Add comment..."
          ></textarea>
          <input class="btn btn-comment" type="submit" value="Add Comment" />
        </form>
      </div>
      
     
      <div>
        <h2 class="comment-header">Comments</h2>
        <hr />
        <% article.comments.forEach((comment)=> { %>
        <div>
          <p class="content"><%= comment.content %></p>
          <div class="flex">
            <div class="flex like-box">
              <p class="likes"><%= comment.likes %></p>
              <a class="likes" href="/comments/<%= comment.id %>/likes">
                <!-- <button class="btn"></button> -->
                <i class="fa-solid fa-thumbs-up"></i>
              </a>
              <span class="hover-text">I like this</span>
            </div>
            <div class="flex like-box">
              <p class="likes"><%= comment.dislikes %></p>
              <a class="likes" href="/comments/<%= comment.id %>/dislikes">
                <!-- <button class="btn btn-edit"></button> -->
                <i class="fa-solid fa-thumbs-down"></i>
              </a>
              <span class="hover-text">I Dislike this</span>
            </div>
          </div>
        </div>
        <a href="/comments/<%= comment.id %>/edit">
          <button class="btn btn-edit">Edit</button>
        </a>
        <a href="/comments/<%= comment.id %>/delete">
          <button class="btn btn-edit btn-delete">Delete</button>
        </a>
        <% }) %>
      </div>
  
    </section>
  </body>
</html>
